@tailwind base;
@tailwind components;
@tailwind utilities;

main {
  width: 100vw;
  height: 100vh;
  line-height: 150%;
}

.fill {
  display: block;
  width: 100%;
  height: 100%;
}

/* Uploader */

.file-uploader {
  padding: 2rem;
}

input[type="file"] {
  display: none;
}

label:has(input[type="file"]) {
  display: block;
  background: #eee;
  width: 100%;
  height: 100%;
  border-radius: 1rem;
  padding: 4rem 0;
  text-align: center;
  cursor: pointer;
  font-size: 2rem;
  line-height: 4rem;
}

label:has(input[type="file"]):hover {
  background: #ccc;
}

/* House Area */

.houseArea {
  width: 100%;
  padding: 4rem;
  height: calc(100% - 400px);
  filter: saturate(80%);
}

.house {
  width: 100%;
  height: 100%;
}

.house svg {
  max-height: 100%;
  min-height: 100%;
  margin: auto;
}

/* Graph Area */

.graphArea {
  position: relative;
  width: 100%;
  height: 400px;
  overflow-x: scroll;
  overflow-y: hidden;
  background: #eee;
}

.column {
  position: absolute;
  width: 6px;
  height: 100%;
}

.column.hovered {
  background: white;
}

.plot {
  position: absolute;
  width: 6px;
  height: 6px;
  background: black;
}

.plot.out {
  background: red;
}

.plot.in {
  width: 0;
  height: 0;
  background: none;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-bottom: 8px solid blue;
}

.column .description {
  display: none;
}

.column.hovered .description {
  position: absolute;
  display: block;
  top: 305px;
  width: 10rem;
  padding: 0.6rem 1rem;
  background: white;
  font-size: 0.8rem;
  line-height: 1.2rem;
}

.column.hovered .description th {
  text-align: left;
  padding-right: 0.8rem;
}
